body {
	height: 90vh;
	background: lightgreen;
}




#field {
	width: 80%;
	height: 80%;
	margin: 2.5% auto;
	box-sizing: border-box;
	border-radius: 5%;
	background: rgba(0,200,0,0.5);
	box-shadow: 0 0 50px rgba(0,200,0,1);
}

.hole {
	float: left;
	width: 6%;
	height: 10%;
	margin: 0.5% 1.9%;
	border-radius: 50%;
  border: 1px solid black;
	background: linear-gradient(#222, #000);
}

.mole {
	background: brown;
}




#status {
	width: 90%;
	height: 10%;
	margin: 0 auto;
	box-sizing: border-box;
	border: 1px solid black;
	background: white;
	box-shadow: 2px 2px 5px black;
}


ul {
	margin: 0 auto;
}

li {
	display: inline-block;
	margin: 1.5% 5%;
	font-size: 2em;
}

li span {
	font-family: courier, monospace;
}







